.uploadable-image {
	max-width: 100%;
}
.uploadable-image.text-center {
	display: block;
	margin: 0 auto;
}

.uploadable-thumbnail.pull-left, .uploadable-thumbnail.pull-right,
.uploadable-image.pull-left, .uploadable-image.pull-right {
	max-width: 50%;
	margin-bottom: 10px;
}
.uploadable-thumbnail.pull-left, .uploadable-image.pull-left {
	margin-right: 10px;
}
.uploadable-thumbnail.pull-right, .uploadable-image.pull-right {
	margin-left: 10px;
}
.uploadable-thumbnail .caption {
	margin: 0;
	font-size: 10px;
}

.uploadable--field-upload--edit-link {
	border: 4px solid;
	margin: -4px;
	display: inline-block;
}
.jcrop-holder {
	margin-bottom: 10px;
}
.jcrop-holder img {
	max-width: 100%;
}
.jcrop-keymgr {
	opacity: 0;	
}